---
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";

const pages = await getCollection("pages");

const homePage = pages.find((p) => p.data.slug === "");
---

<Layout>
  {
    homePage && (
      <article>
        <h1>{homePage.data.title}</h1>

        <homePage.render />
      </article>
    )
  }
</Layout>
