---

---

<a href="/" class="header-link" "header-container">
  <div>ksairsoft ry</div>
</a>

<style>
  a {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #726250;
    color: white;
    text-decoration: none;
    border-radius: 8px;
  }
  div {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
</style>
