---

---

<div style="max-width: 1200px; margin: 0 auto; padding: 0 16px;">
  <div
    style="background-color: #726250; color: white; padding: 12px; border-radius: 8px;"
  >
    <a href="/" style="text-decoration: none; color: white;">
      <h1>ksairsoft ry</h1>
    </a>
  </div>
</div>
