<svg
  role="img"
  width="auto"
  height="48"
  viewBox="0 0 420 297"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  ><title>Kuulaportti</title><circle
    cx="271.5"
    cy="148.5"
    r="148.5"
    fill="#ccc6be"></circle><circle
    cx="148.5"
    cy="148.5"
    r="148.5"
    fill="#726250"></circle></svg
>
