---
import Header from "../components/Header.astro";
import Facebook from "../components/Facebook.astro";
import Discord from "../components/Discord.astro";
import Github from "../components/Github.astro";
import Kuulaportti from "../components/Kuulaportti.astro";

const pages = Object.values(
  import.meta.glob("../pages/*.md", { eager: true }),
) as Array<{
  frontmatter: { title: string; sort?: number; slug?: string };
  url: string;
}>;

const sortedPages = pages.sort(
  (a, b) => (a.frontmatter.sort || 0) - (b.frontmatter.sort || 0),
);

const { frontmatter } = Astro.props;
---

<html lang="fi">
  <head>
    <title>KS Airsoft</title>
    <style>
      body {
        font-family:
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          "Helvetica Neue",
          sans-serif;
        background-color: #f5f3f1;
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        min-height: 100dvh;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Avenir Next", sans-serif;
        color: #726250;
      }
      .main-content {
        background-color: #eae7e4;
        border-radius: 8px;
      }
      .content-header {
        background-color: #ccc6be;
        color: white;
        padding: 8px 16px;
        border-radius: 8px 8px 0 0;
      }
      .content-body {
        padding: 16px;
      }
      .page-layout {
        display: flex;
        flex: 1;
        gap: 16px;
      }
      .page-content {
        max-width: 1200px;
        margin: 0 auto;
        flex: 1;
      }
      .grid-layout {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 16px;
        height: 100%;
      }
      .sidebar {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
      .nav {
        background-color: #eae7e4;
        border-radius: 8px;
      }
      .nav-header {
        background-color: #726250;
        color: white;
        padding: 8px 16px;
        border-radius: 8px 8px 0 0;
      }
      .nav-body {
        padding: 8px;
      }
      .nav-list {
        display: flex;
        flex-direction: column;
        gap: 4px;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      .nav-link {
        text-decoration: none;
        color: inherit;
      }
      .contacts {
        background-color: #eae7e4;
        border-radius: 8px;
      }
      .contacts-header {
        background-color: #726250;
        color: white;
        padding: 8px 16px;
        border-radius: 8px 8px 0 0;
      }
      .contacts-body {
        padding: 8px;
      }
      .social-links {
        display: flex;
        gap: 8px;
      }
      .social-link {
        height: 48px;
      }
      .main-column {
        flex: 2;
      }
      .right-column {
        flex: 1;
      }
      .sponsors {
        background-color: #eae7e4;
        border-radius: 8px;
      }
      .sponsors-header {
        background-color: #726250;
        color: white;
        padding: 8px 16px;
        border-radius: 8px 8px 0 0;
      }
      .sponsors-body {
        padding: 8px;
      }
      .footer {
        background-color: #726250;
        color: white;
        padding: 16px;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <Header />

    <div class="page-layout">
      <div class="page-content">
        <div class="grid-layout">
          <div class="sidebar">
            <nav class="nav">
              <div class="nav-header">Päävalikko</div>

              <div class="nav-body">
                <ul class="nav-list">
                  {
                    sortedPages.map((page) => (
                      <li>
                        <a href={page.url || "/"} class="nav-link">
                          {page.frontmatter.title}
                        </a>
                      </li>
                    ))
                  }
                </ul>
              </div>
            </nav>

            <div class="contacts">
              <div class="contacts-header">Yhteystiedot</div>
              <div class="contacts-body">
                <div class="social-links">
                  <a
                    href="https://www.facebook.com/ksairsoft"
                    target="_blank"
                    class="social-link"><Facebook /></a
                  >
                  <a
                    href="https://discordapp.com/invite/RDCAeB8"
                    target="_blank"
                    class="social-link"><Discord /></a
                  >
                  <a
                    href="https://github.com/Keski-SuomenAirsoft/ksairsoft.info"
                    target="_blank"
                    class="social-link"><Github /></a
                  >
                  <a
                    href="https://kuulaportti.fi/?page=team_profile&id=179#description"
                    target="_blank"
                    class="social-link"><Kuulaportti /></a
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="main-column">
            <div class="main-content">
              <div class="content-header">{frontmatter?.title || "Page"}</div>
              <div class="content-body">
                <slot />
              </div>
            </div>
          </div>

          <div class="right-column">
            <div class="sponsors">
              <div class="sponsors-header">Sponsorit</div>
              <div class="sponsors-body">
                <a href="https://tierone.fi" target="_blank">
                  <img
                    src="/sponsors/tierone.png"
                    alt="Tier One Airsoft"
                    style="max-width: 100%; height: auto"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>&copy; 2023 KS Airsoft ry</p>
    </div>
  </body>
</html>
